/*============================================================================
			RESPONSIVE CSS WITH MEDIA 
=============================================================================*/

/*=============  MEDIA 1400px   =============*/
@media(min-width:1200px) and (max-width:1400px) {
}

/*=============  MEDIA 1200px   =============*/
@media(max-width:1130px) {

	/* CONTAINER */
	.container { width: 970px!important; }
	.page-groupes .page-content .container { width: 830px!important }
	.page-groupes .page-content .container .view-filters { width: 830px!important; }
	.page-groupes .page-content .container .view-content { width: 830px!important; }
	.page-lieux .page-content .container { width: 100%!important }
	.page-lieux .page-content .container .view-filters { width: 830px!important; }
	.page-lieux .page-content .container .view-content { width: 830px!important; }
	.page-lieux .page-content .container .view-lieux.view-display-id-attachment_1 .view-content { width: 100%!important; }

	/* HOME */
	.region-hero-slider .container-wrapper { width: 970px!important; }
	.region-hero-slider .container-wrapper .col-gauche { width: 600px; }
	.region-hero-slider .container-wrapper .col-droite { width: 300px; }
	.region-hero-slider .container-wrapper h3 { font-size: 22px; }
	#testimonials .feed-text { width: 70%!important; }

	/* FORM */
	.custom-form-wrapper .groupe-wrapper .label-form { width: 140px;}
	.custom-form-wrapper .groupe-wrapper .champs-form { width: 250px; }
	.custom-form-wrapper .lieu-wrapper .label-form { width: 140px;}
	.custom-form-wrapper .lieu-wrapper .champs-form { width: 250px; }
	.custom-form-wrapper.user-profile-form .label-form { width: 140px;}
	.custom-form-wrapper.user-profile-form .champs-form { width: 250px; }

	.node-course-form .programme-desc { width: 200px; }
	.node-course-form table .field-name-field-prog-informations { width: 200px; }
	.field-name-field-prog-lieu-ref .field-multiple-table .form-type-checkbox { width: 185px!important; }
	.node-course-form .programme-lieu { width: 220px; }
	.node-course-form table .field-name-field-prog-lieu-ref { width: 250px; }
	.field-multiple-table td > input.submit, .field-multiple-table .ajax-new-content > input.submit { right: 10px; }

	/* GROUPE */
	.groupe-program .program-day-wrapper .prog-cell { padding: 10px;}
	.groupe-program .program-day-wrapper .program-day { width : 120px; text-align: center; }
	.groupe-program .program-day-wrapper .program-day .day-count { font-size: 20px;  }
	.groupe-program .program-day-wrapper .program-horaire-start { font-size: 18px; width: 130px; }
	.groupe-program .program-day-wrapper .program-lieu { width : 210px; font-size: 20px;  }
	.groupe-program .program-day-wrapper .program-infos { width : 195px;  }
	.rating-wrapper .rating-label { width: 90px; }

	.view-groupe-participations tr.participation td.views-field-mail { max-width: 150px;  }

}

/*=============  MEDIA 1024px   =============*/
@media(max-width:1024px) {

	header .navbar-nav > li > a {	padding: 44px 10px; }
	.is-sticky header .navbar-nav > li > a {padding: 29px 10px;}

	.sub-banner .links { display: none; }

	.container { width: 870px!important; }
	.page-lieux .page-content .container .view-filters { width: 870px!important; }
	.page-lieux .page-content .container .view-content { width: 870px!important; }

	.custom-form-wrapper .groupe-wrapper .label-form { width: 130px;}
	.custom-form-wrapper .groupe-wrapper .champs-form { width: 230px; }
	.custom-form-wrapper .lieu-wrapper .label-form { width: 130px;}
	.custom-form-wrapper .lieu-wrapper .champs-form { width: 230px; }
	.custom-form-wrapper.user-profile-form .label-form { width: 130px;}
	.custom-form-wrapper.user-profile-form .champs-form { width: 230px; }

	/* HOME */
	.region-hero-slider .container-wrapper { width: 870px!important; }
	.region-hero-slider .container-wrapper .col-gauche { width: 500px; }
	.region-hero-slider .container-wrapper .col-droite { width: 300px; }
	.region-hero-slider .container-wrapper h3 { font-size: 19px; }
	#testimonials .feed-text { width: 70%!important; }


	/* GROUPE */
	.groupe-program .program-day-wrapper .program-infos { width : 100%;  margin-bottom: 15px; }
	.view-groupe-participations .views-field-field-nom { display: none; }
	.rating-wrapper .rating-label { width: 90px; }

	.node-course-form .programme-header-cell.programme-desc { display: none; }
	.node-course-form table .field-type-datetime {  vertical-align: top; height: 64px; }
	.node-course-form table .field-name-field-prog-lieu-ref {  vertical-align: top; width: 370px; height: 72px; }
	.node-course-form table .field-type-cck-time {  vertical-align: top; height: 63px; }
	.node-course-form table .field-type-cck-time .cck-time-element { display: inline-block; vertical-align: top; width: 53px; height: 100%;}
	.node-course-form table .field-name-field-programme-type {vertical-align: top; height: 80px; }

	/* LIEUX */
	.view-id-lieux .attachment-before { display: none; }

	/*
	.sub-banner .links { display: none; }

	.front .view-cocoon-courses .views-row-3 { display: none; }

	.views-row.billet { width: 30%; }
*/
}

/*=============  MEDIA 940px   =============*/
@media(max-width:940px) {


	.container { width: 800px!important; }	

	

	/* HOME */
	.region-hero-slider .container-wrapper { width: 800px!important; }
	.region-hero-slider .container-wrapper .col-gauche { width: 450px; }
	.region-hero-slider .container-wrapper .col-droite { width: 300px; }
	.region-hero-slider .container-wrapper h3 { font-size: 16px; }


	/*
	.sub-banner .links { display: none; }

	.front .view-cocoon-courses .views-row-3 { display: none; }

	.views-row.billet { width: 30%; }
*/
}

/*=============  MEDIA 800px   =============*/
@media(max-width:840px) {

	.container { width: 100%!important; }
	.container .cold-md-9 { width: 100%!important; }

	.page-groupes .page-content .container { width: 96%!important; }
	.page-groupes .block-views .intres-lesson { width: 550px!important; margin: auto; max-width: 96%; }
	.page-groupes .page-content .container .view-content { width: 550px!important; margin: auto; max-width: 96%;}

	.page-lieux .page-content .container .view-filters { width: 550px!important; max-width: 96%;  }
	.page-lieux .page-content .container .view-content { width: 550px!important; max-width: 96%; }

	.view-groupe-participations .views-field-mail { display: none; }

	ul.menu li a.fa-map-marker { display: none; }

	/* HOME */
	.region-hero-slider .container-wrapper { width: 95%!important; }
	.region-hero-slider .container-wrapper .col-gauche { width: 400px; }
	.region-hero-slider .container-wrapper .col-droite { width: 300px; }
	.region-hero-slider .container-wrapper h3 { font-size: 15px; }
	.region-hero-slider .text-slider p { width: 82%!important; }

	.block-views .views-exposed-form { padding: 0 15px; }
	.view.courses .view-content { width: 550px!important; margin: auto; }

	.navbar-nav .leaf.to-section { display: none; }

	.region-hero-slider .container-wrapper h3 { padding-right: 20px!important; }
	.text-slider .fa-long-arrow-right { display: none; }

	.navbar-toggle { margin-top: 25px; }



}


/*=============  MEDIA 992px - 1199px   =============*/
/*
@media(min-width:992px) and (max-width:1199px) {
	#testimonials .feed-text {	float: right;width: 78%;margin-top: 10px;}
	.inspectors .teach .img-sec {height: 170px;	width: 170px;}
	.inspectors .teach-over a {	line-height: 180px;}
	#banner .text-slider h3 {	font-size: 20px;}
	.boxed {width: 100%;}
	header .navbar-nav > li > a {	padding: 44px 10px;}
	.is-sticky header .navbar-nav > li > a {padding: 29px 10px;}
}
*/
/*=============  MEDIA 768px - 991px   =============*/
/*
@media(min-width:768px) and (max-width:991px) {
	.navbar-header .logo {	width: 150px;}
	#banner .text-slider h3 {	font-size: 15px;}
	.navbar-header .logo img {	width: 100%;}
	header .navbar-nav > li > a {	padding: 48px 10px;}
	.top-bar {	display: none;}
	header .navbar-nav > li > a {	padding: 30px 10px;	font-size: 13px;}
	.is-sticky header .navbar-nav > li > a {	padding: 29px 10px;	font-size: 13px;}
	header {	height: 82px;}
	.is-sticky header .logo {	margin-top: 15px;}
	#testimonials .feed-text {	float: right;	width: 70%;	margin-top: 0px;}
	#feature li .inner {	margin-bottom: 30px;}
	.col-4 li.item {	width: 50%;	margin-bottom: 30px;}
	.tittle {	margin-bottom: 10px;}
	#pricing .price-inner {	margin-bottom: 30px;}
	.inspectors .teach {	margin-bottom: 30px;}
	.panel-default > .panel-heading a {	text-decoration: none;	font-size: 18px;width: 100%;font-weight: 400;padding: 0px;color: #647382;	display: inline-block;	line-height: 25px;	padding: 5px 0px;}
	.quote {text-align: center;}
	footer h5 {	margin-top: 30px;}
	footer .rights {	text-align: center;}
	footer .social_icons {	text-align: center;	margin-top: 10px;}
	.products .prodct {	margin-bottom: 30px;}
	#banner .text-slider p {	width: 100%;}
	#banner li img {	display: none;}
	#banner {	background: url(../images/workgroup-1000.jpg) center center no-repeat;}
	.sub-banner {	text-align: center;}
	.sub-banner .links {	float: none;	margin-top: 20px;	margin-bottom: 40px;}
	.courses .intres-lesson li {	display: inline-block;	width: 100%;}
	.products .prodct {	margin-top: 50px;}
	.quote-sim {	text-align: center;}
	.quote-sim h3 {	width: 100%;}
	.quote-sim .btn {	display: inline-block;	float: none !important;}
	.boxed {	width: 100%;}
	.logo-hex {	height: 29px;}
	.logo .fa-stack {	width: 48px;	height: 51px;	line-height: 55px;}
	.logo a .logo-fa {	font-size: 24px;}
	.logo a {	line-height: 40px;}
	.logo {	font-size: 20px;	text-align: left;}
	.prodct-single .prodct {	margin-top: 0px !important;}
}
*/
/*=============  MEDIA 767px   =============*/
/*
@media(max-width:767px) {
	.top-bar {	display: none;}
	.boxed {	width: 100%;}
	header {	height: 80px;}
	header .navbar-header .logo {	width: 150px;	margin-top: 12px;}
	header .navbar-header .logo img {	width: 100%;}
	header .navbar-nav {	width: 100%;	float: left;	background: #fff;}
	header .navbar-nav {	margin: 0px;}
	header .navbar-nav > li > a {	padding: 10px 0;	width: 100%;}
	.is-sticky header .navbar-nav > li > a {	padding: 10px 0;	width: 100%;}
	header .dropdown-menu {	width: 100%;	text-align: center;}
	#testimonials {	text-align: center;}
	#testimonials .feed-text {	text-align: center;	width: 100%;}
	#testimonials .avatr {	float: none;}
	.navbar-toggle {	margin: 0px;	margin-top: 17px;	padding: 10px 30px;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {	background: #0096ff;	color: #fff;	border-color: #0096ff;}
	.find-drive {	display: none;}
	#testimonials .testi {	text-align: center;}
	#testimonials .testi p {	text-align: center;}
	.quote {	text-align: center;}
	footer h5 {	margin-top: 30px;	display: inline-block;	width: 100%;}
	footer li {	position: relative;	display: inline-block;	width: 100%;	overflow: hidden;}
	footer .rights {	text-align: center;}
	footer .rights li {	width: auto;}
	footer .social_icons {	text-align: center;	margin-top: 10px;}
	.products .prodct {	margin-bottom: 30px;}
	#feature li .inner {	margin-bottom: 30px;}
	.col-4 li.item {	width: 50%;	margin-bottom: 30px;}
	.tittle {	margin-bottom: 10px;}
	#pricing .price-inner {	margin-bottom: 30px;}
	.intres-lesson li, .intres-lesson .btn {	margin-top: 10px;}
	.inspectors .teach {	margin-bottom: 30px;}
	.intres-lesson ul {	margin-top: 20px;}
	#banner .text-slider {	text-align: center;}
	#banner li img {	display: none;}
	#banner {	background: url(../images/workgroup-1000.jpg) center center no-repeat;}
	#banner .text-slider p {	width: 100%;}
	#banner .text-slider h3 {	font-size: 15px;}
	.sub-banner {	text-align: center;}
	.sub-banner .links {	float: none;	margin-top: 20px;	margin-bottom: 40px;	text-align: center;}
	.sub-banner .links li {	float: none;}
	.products .prodct {	margin-top: 50px;}
	.quote-sim {	text-align: center;}
	.quote-sim h3 {	width: 100%;}
	.quote-sim .btn {	display: inline-block;	float: none !important;}
	.billing-info .nav-tabs > li > a {	padding: 0px 16px;	font-size: 14px;}
	.courses .intres-lesson .btn {	margin-bottom: 40px;}
	.testi-small #testimonials .avatr {	float: none;	margin-top: 20px;}
	.nav-tabs .nav-pills > li > a {	padding: 0 15px;}
	.logo-hex {	height: 29px;}
	.logo .fa-stack {	width: 48px;	height: 51px;	line-height: 55px;}
	.logo a .logo-fa {	font-size: 24px;}
	.logo a {	line-height: 40px;}
	.logo {	font-size: 20px;	text-align: left;}
	.billing-info .prodct {	display: inline-block;	width: 100%;}
}

*/
/*=============  MEDIA 600px   =============*/
@media (max-width:770px) {

	#nav-res {  overflow: hidden; border: 0; }
	#nav-res ul { background: #143B62; width: 270px; text-align: left; border-radius: 3px; }
	#nav-res ul  > li > a { padding: 10px 12px; color: white;  width: 100%;}
	#nav-res ul  > li.active-trail a { color: white!important; }
	#nav-res ul  > li:hover > a { background: white; color: #143B62!important;}

}

/*=============  MEDIA 540px   =============*/

@media(max-width:570px) {

	.sub-banner h2 { font-size: 26px!important; }
	.block.block-menu .group-item { display: none; }
	.block.block-menu .logout-item { display: none; }
	.block.block-menu .lieu-item { display: none; }

	.region-hero-slider .container-wrapper {width: 300px!important; margin: auto; }
	.flexslider .col-droite { float: left!important; width: 100%; }
	.block.find-drive { margin: auto; margin-top: 75px; }
	.text-slider .col-gauche { display: none; }
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 180%!important; max-width: 200%; }

	#testimonials .avatr { width: 100%; margin: 0; text-align: center; }
	#testimonials .avatr img { border-radius: 50%; }
	#testimonials .feed-text { width: 100%!important; }
	#testimonials .testi  { width: 100%; margin: 0; text-align: center;  }
	#testimonials .testi p { font-size: 15px; }
	#testimonials .testi h5 { font-size: 15px; }

	.view .view-content { max-width: 100%; }
	.views-row.billet { display: block; margin-left: auto; margin-right: auto;width: 244px; }

	.page-lieux .page-content .container .view-filters { width: 300px!important; max-width: 96%;  }
	.page-lieux .page-content .container .view-content { width: 300px!important; max-width: 96%; }

	.coments .img-admin { display: none; }
	.coments .media-body { }

}

/*=============  MEDIA 400px   =============*/
@media(max-width:400px) {
}

/*=============  MEDIA 320px   =============*/
@media(max-width:320px) {
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select {
	padding-right: 18px
}
}
